/* Reset */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --blue: #007bff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Logo */
.logo img {
  display: block;
  height: 40px;
}

/* Navegação */
.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 20px;
}

.nav-list li:first-child {
  margin-left: 0;
}

.nav-list li:last-child {
  margin-right: 0;
}

.nav-link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;

  height: 60px;

  display: flex;
  align-items: center;
}

/* Hover */
.nav-link:hover {
  color: var(--blue);
}

/* Link ativo */
.nav-link.is-active {
  color: var(--blue);
  position: relative;
}

.nav-link.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--blue);
}
